.footer{
    background-color: #00092C;
    padding-bottom: 40px;
    text-align: center;
    color: #eeee;
}
h3{
   
    padding-top: 10px;
}

.search{
    text-align: center;
}

i:hover{
    color: #eeee;
}